<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/registration_details" method="post">
    <center >
        <h1>Registration Form</h1>
        <table border="5">
            <tr>
                <td>First Name</td>
                <td><input type="text" name="fn" required="required"/></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><input type="text" name="ln" required="required"/></td>
            </tr>
            <tr>
                <td>User Name</td>
                <td><input type="text" name="un" required="required"/></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="pwd" required="required"/></td>
            </tr>
        </table><br>
        <input type="submit" value="submit"/><br><br>
        <a href="any">Login</a>

    </center>
</form>
</body>
</html>