<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<form action="/LoginData" method="Post">

    User Name:<input type="text" name="un2"/><br>

    Password:<input type="password" name="pwd2" /><br>

    <input type="submit" value="submit"/>
</form>
</body>
</html>