<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form action="/setsession" method="get">
<CENTER>
    <h1><b><u>Register</u></b></h1>
    <table border="1px">
        <tr>
            <td>First Name</td>
            <td><input type="text" name="fn" required="required"/></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" name="ln" required="required"/></td>
        </tr>
        <tr>
            <td>User Name</td>
            <td><input type="text" name="un" required="required"/></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="pwd" required="required"/></td>
        </tr>
        <tr>
            <td colspan="2"><center><input type="submit" value="submit"></center></td>
        </tr>
    </table>
</form>
</body>
</html>